.card {
    width: 30%;
    border: 1px solid #141414;
    border-radius: 8px;
    overflow: hidden;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .card-info {
    padding: 20px;
    text-align: center;
  }

  .produto-nome{
    font-weight: bold;
  }

  .produto-preço{
    font-weight: bold;
  }

  .card_img {
    width: 90%;
    height: 50%;
    object-fit: cover;
  }
  
  .botao-compra{
   background-color: rgb(147, 231, 147); 
   border-radius: 9%;
  }

 
  

 
  
